@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-image: url(./images/bg-mobile-light.jpg) ;
    background-repeat: no-repeat;
    padding: 15% 24px 20% 24px;
    background-size: contain;
    background-color: white;

}
body.dark{
    background-image: url(./images/bg-mobile-dark.jpg);
    background-color: black;
}
img.iconDisplayNone{
    display: none;
}
.todoAndImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}
.todoTitle{
    height: 20px;
    width: 108.13829803466797px;
    font-family: Josefin Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 5.6666666716337204px;
    text-align: left;
    text-transform: uppercase;
    color: white;
}
footer{
    margin-top: 40px;
}
.itemsLeftAndClear{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:48px;
    box-shadow:  0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.itemsLeftAndNumber{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}
.itemsCounter, .itemsLeftText, .clearCompleteText, .dragAndDropText{
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.1666666716337204px;
    text-align: left;
    color: #9495A5;
}

.choiceTodos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:48px;
    box-shadow:  0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;
    padding-left: 80px;
    padding-right: 80px;
}
.choiceTodos button{
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.1944444477558136px;
    text-align: left;
    color: #9495A5;
    background-color: white;
    border: none;
}
.choiceTodos button:hover{
    color: #3A7CFD;
    cursor: pointer;
}
.backGroungGray{
    background-color: #25273D !important;
}
.clearCompleteText:hover{
    cursor: pointer;
}
.functionality{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
}
.dragAndDrop{
    display:flex ;
    justify-content:center ;
    margin-top: 36px;
}
.boxShadowNone{
    box-shadow: none;
}
.inputForAdding{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:48px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}
#inputForAdding{
    margin-bottom: 30px;
}
.checkbox-round {
    width: 1.6em;
    height: 1.6em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    outline: 1px solid #1e5180 !important;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
   
}
.checkboxRound{
    width: 1.6em;
    height: 1.6em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    outline: 1px solid #1e5180 !important;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
   
}
.checkboxRoundChecked {
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) !important;
}
.checkmark{
    position: relative;
    right: 15px;
    cursor: pointer;
    display: none;
}
.makedisplayBlock{
    display: block;
}
.inputForAdding{
    height: 48px;
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.writeTodo, .pTag{
    width:90%;
    border: none;
    padding-left: 10px;
    height: 30px;
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.1666666716337204px;
    text-align: left;
    border: 0px solid;
}
.writeTodo:focus{
    outline: none;
}
.iconMoon, .iconSun:hover{
    cursor: pointer;
}
.makeColorBlue{
    color: #3A7CFD !important;

}
.pTag{
    height: 18px;
    overflow-x:auto;
}
.mainContent{
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}
.hrline{
    background-color:#E3E4F1;
    width: 98%;
    position: relative;
    left: 5px;
}
.imageCross{
    display: none;
}
.inputForAdding:hover .imageCross{
    cursor: pointer;
    display: block;
}
.inputForAdding:hover {
    cursor: pointer;
}
@media only screen and (min-width: 600px){
    body{
        align-items: center;
        padding: 6% 24px 10% 24px;
        background-image: url(./images/bg-desktop-light.jpg) ;
    }
    body.dark{
        background-image: url(./images/bg-desktop-dark.jpg);
    }
    .todoAndImg{
        width: 541px;
    }
    .itemsLeftAndClear{
        width: 541px;

    }
    .choiceTodos{
        width: 172px;
        position: relative;
        left:130px;
    }
    .functionality{
        position: relative;
        top:-63px;
    }
    .inputForAdding{
        width: 541px;
    }
    .todoAndImg{
        width: 582px;
        margin-bottom: 50px;
    }
    .writeTodo, .pTag{
        width:500px;
        border: none;
        font-family: Josefin Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.25px;
        text-align: left;

    }
    footer{
        margin-top: 80px;
    }
}